.nutritionGreen img {
    height: 550px;
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 105px;
    margin-right: 250px;
    z-index: 2;
}

.rotated-half-circle {
    width: 500px;
    height: 500px;
    border: 70px solid orange;
    border-radius: 50%;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: rotate(200deg);
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 130px;
    margin-right: 120px;
    z-index: 1;
  }

  .green {
    background-color: rgb(38, 173, 110);
  }

  .rotated-half-circle2 {
    width: 500px;
    height: 500px;
    border: 70px solid orange;
    border-radius: 50%;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: rotate(-70deg);
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 130px;
    margin-right: 120px;
    z-index: 1;
  }