.nutritionIphone {
    margin-top: 100px;
    margin-left: 200px;
    width: 550px;
    height: auto;
}

.whatIf {
    font-weight: bold;
    font-size: 32px;
    margin: 0;
    color: black;
    position: absolute;
    margin-top: -450px;
    margin-left: 850px;
    position: relative;
    width: 400px;
}
  
  .whatIf::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(orange 50%)
  }

.saveTime {
    font-size: 18px;
    margin: 0;
    color: black;
    position: absolute;
    margin-top: 35px;
    margin-left: 850px;
    position: relative;
    width: 400px;
}

.whatIfContainer {
    height: 700px;

}

.yellow {
  color: #00A181;
  background-color: #F5F570;
}