.monthlyYearly {
    background-color: black;
    color: white;
    margin-top: 46%; 
    text-align: center;
    height: 1000px;
}

.costs {
    margin-bottom: 45%;
}

.pricesContainer {
    background-color: white;
    width: 80%;
    height: 555px;
    border-radius: 15px;
    margin-left: 10%;
    padding-top: 2%;
    border-bottom: 25px solid orange;

}

.priceChoices {
    background-color: rgb(216, 216, 216);
    width: 30%;
    height: 500px;
    border-radius: 12px;
    margin-left: 3%;
    border-top: 25px solid orange;
    margin-top: -39.25%;
}

.headerList {
    margin-left: 40%;
    color: black;
    width: 25%;
}

.started4 {
    background-color: orange;
    width: 70%; 
    margin-top: 22%;
    border-radius: 5px;
}

.dropdown2 {
    position: relative;
    display: inline-block;
  }
  
.dropbtn2 {
    border-color: black;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border: 1px solid black; 
    margin-top: 25%;
  }
  
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    color: black;
  }
  
.dropdown-content2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid black; 
  }
  
.dropdown-content2 li {
    padding: 8px;
    color: black;
  }
  
.dropdown2:hover .dropdown-content2 {
    display: block;
  }

.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 50px;
  }
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: orange;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
.slider:before {
    position: absolute;
    content: "";
    height: 45px;
    width: 45px;
    left: 4px;
    bottom: 3px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
  }

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(46px);
  }
  
.slider.round {
    border-radius: 40px;
  }
  
.slider.round:before {
    border-radius: 50%;
  }

.yearlyPricing {
    position: absolute;
    top: 50%;
    left: 150%; 
    transform: translate(-50%, -50%);
}

.monthlyPricing {
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.taxes {
    padding: 5px;
    font-size: 10px;
}

.pro {
    margin-top: 5%;
}

.pro5 {
    color: black;
    font-size: 24px;

  }
.optimal {
    color: black;
    font-size: 12px;

  }

.getThemInline {
    display: flex;
    align-items: baseline;
    margin-left: 22.5%;
}

.inline {
    display: inline-block;
    color: black;
    font-weight: bold;
}

.inline:nth-child(1) {
    font-size: 20px;
}

.inline:nth-child(2) {
    font-size: 45px;
}

.inline:nth-child(3) {
    font-size: 20px; 
}

.clients5,
.unlimited,
.included {
    font-weight: bold;
    text-align: left;
    font-size: 30px;
}

.included {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-top: 15%;

}

.includedList {
text-align: left;
display: flex;
flex-wrap: wrap;
}

.includedList2 {
    text-align: left;
    margin-left: 65%;
    margin-top: -17%;
    color: black;
}


