.trainingStyles {
    position: relative;
}

.sprinter,
.ptIng,
.tracking,
.onlineCoaching {
    position: absolute;
}

.sprinter {
    margin-left: 8%;
    width: 25%;
    height: 250px;
    border-radius: 12px;
    z-index: 2;
    margin-top: 15%;
}

.ptIng {
    width: 12.5%;
    height: 250px;
    border-radius: 12px;
    z-index: 3;
    margin-left: 34%;
    margin-top: 15%;
}

.tracking {
    width: 12.5%;
    height: 250px;
    margin-top: 3%;
    margin-left: 10%;
    z-index: 0;
    border-radius: 12px;
}

.onlineCoaching {
    width: 25%;
    height: 250px;
    z-index: 1;
    border-radius: 12px;
    margin-left: 23%;
    margin-top: 3%;
}

.versitileTraining {
    position: absolute;
    width: 50%;
    height: 420px;
    border-radius: 14px;
    color: black;
    padding: 140px;
    border-radius: 8px;
    right: 30px;
}

.deliver {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: black;
}

.started3 {
    color: orange;
    background-color: black;
    padding: 3px 40px;
    font-weight: bold;
    margin-bottom: 10px;
    height: 40%;
    width: 70%;
}

.coachingStyles {
margin: 20px;
}
