.whyJoin {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    padding: 180px;
}

.box1,
.box2,
.box3 {
    width: 250px;
    height: 250px;
    background-color: orange;
    border: 1px solid #333;
    border-radius: 14px;
    color: black;
    padding: 30px;
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.why {
    margin: 1px;
    margin-top: 40%;
}

.text1 {
    font-size: 80px;
    font-weight: bold;
    color: black;
    margin: 0; 
}

.outdoorPT2 img {
    width: 110%; 
    height: 900%;
    border-radius: 12px;
    margin-left: 150%;
    margin-top: -90%;
}

.outdoorPT2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.orange {
    background-color: orange;
    width: 100%; 
    height: 580px;

}

.changeButton {
    background-color: black;
    color: orange;}



.clientEngagement {
    width: 100%; 
    height: 150px;
}

.engagementButtons {
    width: 50%;
    color: black;
    padding: 140px;
    margin-top: 0px; 
    border-radius: 8px;
}



@media screen and (max-width: 767px) {

    .whyJoin {
        display: block;
        justify-content: space-around;
        align-items: center;
        background-color: black;
        padding: 90px;
    }
    
    .box1,
    .box2,
    .box3 {
        width: 250px;
        height: 250px;
        background-color: orange;
        border: 1px solid #333;
        border-radius: 14px;
        color: black;
        padding: 0px;
        margin-top: 20px;
 
    }
    
    .why {
        margin-top: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .outdoorPT2 img {
        width: 100%; 
        height: 100%;
        border-radius: 12px;
        margin-left: 2.7%;
        margin-top: -235%;
    }
    
    .outdoorPT2 {
        display: flex;
        justify-content: none;
        align-items: none;
    }
.changeButton {
    margin-top: 320px;

}

.orange {
    background-color: orange;
    width: 100%; 
    height: 640px;

}

.engagementButtons {
    position: relative;
    width: 100%;
    height: 420px;
    border-radius: 14px;
    color: black;
    padding: 0px;
    border-radius: 8px;
    right: 10px;
    margin-top: 0px;
    text-align: center;
}

.heading {
    margin-top: 50px;
    font-size: 18px;
    font-weight: bold;
}

.clientEngagement {
    width: 100%; 
    height: 100%;
    font-size: 12px;

}

}
