.layout {
    margin-top: -25%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin-left: 12%;
    margin-right: 12%;
  }
  
.boxes {
    min-height: 250px;
    background: rgb(33, 33, 33);
    border-radius: 12%;
    z-index: 1;
}

.layout1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8px;
}

 .fitnssJourney {
  height: 950px;
  filter: grayscale(100%);
  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 80%);
}

.fitnssJourney text {
    color: black;
    z-index: 2;
    margin-top: -25%;
}

.ourMission {
    margin-top: -50%;
    color: black;
    z-index: 2;
}

.image-container {
    position: relative;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 20px;
    font-weight: bold; 
    text-align: center;
}
