.infoEnd {
    background-color: orange;
    height: 80vh;
    width: 130vh;

}

.rightside {
    background-color: black;
    height: 80vh;
    width: 53.25vh;
    margin-left: 100%;
}

.product {
    color: white;
    margin-top: -450px;
    margin-left: 100px;
}

.product button,
.company button,
.resources button {
    display: block;

}

.company {
    color: white ;
    margin-top: -240px;
    margin-left: 350px;
}

.resources {
    color: white;
    margin-top: -360px;
    margin-left: 580px;
}

.product1,
.company1,
.resources1 {
    font-weight: bold ;
    flex-direction:row;
    text-align: left;
    margin-left: 30px;
}

.buttonsProduct button,
.buttonsCompany button,
.buttonsResources button
 {
    height:40px;
    width: 180px;
    background-color: orange;
    font-size: 12px;
    text-align: left;
    color: white;
}

.buttonsProduct button:hover,
.buttonsCompany button:hover,
.buttonsResources button:hover {
    color: black;
}

.findATrainer {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}

.findUsOn {
    margin-bottom: 10px; 
    margin-top: 170px;
}

.socialIcons {
    display: flex;
}

.socialIcons a {
    background: #3B5998;
    color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-right: 5px; 
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.findTrainer {
    background-color: black;
    color: white;
}

.findTrainer:hover {
    color: orange;
}