.dropdown2 {
    position: relative;
    display: inline-block;
    text-align: center;
}

.dropbtn2 {
    height: auto;
    padding: 7px 15px;
    border-color: black;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border: 1px solid black; 
    width: 200%;
    margin-left: -50%;
    border-radius: 0;
}
  
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    color: black;
    width: 200%;
    margin-left: -50%;
    border-radius: 0;
}

.dropdown-content2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid black; 
}

.dropdown-content2 li {
    padding: 0px;
    color: black;
}

.dropdown2:hover .dropdown-content2 {
    display: block;
}

.drpdwn {
    font-size: 14px;
    width: 100%;
    background-color: white;
    text-align: center; 
    height: 5px;
    line-height: 0px;
    text-align: start;

}

.drpdwn:hover {
    background-color: orange;
    border-radius: 0;

}


