@import "../monthlyYearly/switchButton.css";
@import "../monthlyYearly/dropdown.css";



.monthlyYearly {
    background-color: rgb(240, 238, 238);
    color: black;
    margin-top: 46%; 
    text-align: center;
    height: 1000px;
}

.costs {
    margin-bottom: 45%;
}

.pricesContainer {
    background-color: white;
    width: 80%;
    height: 555px;
    border-radius: 15px;
    margin-left: 10%;
    padding-top: 2%;
    border-bottom: 25px solid orange;

}

.priceChoices {
   background-color: rgb(240, 238, 238);
   width: 30%;
    height: 500px;
    border-radius: 12px;
    margin-left: 3%;
    border-top: 25px solid orange;
    margin-top: -39.25%;
}

.headerList {
    margin-left: 40%;
    color: black;
    width: 25%;
}


.yearlyPricing {
    position: absolute;
    top: 50%;
    left: 150%; 
    transform: translate(-50%, -50%);
}

.monthlyPricing {
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.taxes {
    padding: 5px;
    font-size: 10px;
}

.pro {
    margin-top: 5%;
}

.pro5 {
    color: black;
    font-size: 24px;

  }
.optimal {
    color: black;
    font-size: 12px;

  }

.getThemInline {
    display: flex;
    align-items: baseline;
    margin-left: 22.5%;
}

.inline {
    display: inline-block;
    color: black;
    font-weight: bold;
}

.inline:nth-child(1) {
    font-size: 20px;
}

.inline:nth-child(2) {
    font-size: 45px;
}

.inline:nth-child(3) {
    font-size: 20px; 
}

.clients5,
.unlimited,
.included {
    font-weight: bold;
    text-align: left;
    font-size: 30px;
}

.included {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-top: 15%;

}

.includedList {
text-align: left;
display: flex;
flex-wrap: wrap;
}

.includedList2 {
    text-align: left;
    margin-left: 65%;
    margin-top: -17%;
    color: black;
}




