.business {
    position: absolute;
    width: 50%;
    height: 420px;
    border-radius: 14px;
    color: black;
    padding: 140px;
    border-radius: 8px;
    right: 30px;
    margin-top: -60px;
}

.businessGrowth img {
    width: 6%; 
    height: 2%;
    margin-top: -40%;
    margin-left: 10%;
    z-index: 2;
}

.revenue img {
    width: 15%; 
    height: 15%;
    border-radius: 12px;
    margin-left: 15%;
    margin-top: -5%;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 70%);

}

@media screen and (max-width: 767px) {
    .businessTitle {
        font-size: 18px;
        font-weight: bold;
        padding: 0px;
    }

    .getAndKeep {
        font-size: 12px;
    }

    .business {
        position: relative;
        width: 100%;
        height: 420px;
        border-radius: 14px;
        color: black;
        padding: 0px;
        border-radius: 8px;
        right: 10px;
        margin-top: 500px;
        text-align: center;
    }

    .trainFromHome img {
        width: 50%; 
        height: 100%;
        border-radius: 12px;
        margin-left: 5%;
        margin-top: -625px;
        z-index: 1;
    }

.container7 {
    width: 100%; 
    height: 150px;
    border-radius: 12px;
    margin-left: 25%;
    z-index: -1;
    

}

.revenue img {
    width: 15%; 
    height: 15%;
    border-radius: 12px;
    margin-left: 10%;
    margin-top: -15%;
}

.businessGrowth img {
    width: 10%;
    height: 100%;
    margin-left: 0%;
}


}