.outdoorPT img {
    width: 20%; 
    height: 400px;
    border-radius: 12px;
    margin-left: 60%;
    margin-top: -50%;
    z-index: -1;
}

.clientApp img {
    width: 15%; 
    height: 15%;
    border-radius: 12px;
    margin-left: 70%;
    margin-top: -25%;
}