.main-content {
    width: 50%;
    color: black;
    padding: 135px;
    margin-top: 70px; 
    border-radius: 8px;
    background-color: rgb(240, 238, 238);
    object-fit: cover; 

}

.New {
    font-size: 32px;
    color: black;
}

.NewPara,
.clientEngagement,
.getAndKeep {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: black;
}

.form-container {
    display: flex;
    align-items: center;
}

.getStarted {
    color: orange;
    background-color: black;
    padding: 3px 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.email {
    padding: 15px 20px;
    border-radius: 3px;
}

.video-class video {
    position: absolute;
    top: 46.5%;
    height: auto;
    transform: translateY(-50%); 
    width: 26.5%; 
    height: 25%;
    border-radius: 18px;
    z-index: 3;
    right: 19%;
    object-fit: cover; 
}

.sunsetrun img {
    position: absolute;
    top: 46.5%;
    right: 0px;
    height: auto;
    transform: translateY(-50%); 
    z-index: -1;
    width: 50%; 
    height: 74%;
    border-radius: 8px;
    z-index: 1;

}
