.mainInnerContent {
    display: grid;
    grid-template-columns: 1fr;
    width: 50%;
    color: black;
    padding: 6.4%;
    border-radius: 8px;
    background-color: rgb(240, 238, 238);
}

.sunsetrun img {
    position: absolute;
    top: 46.25%;
    right: 0;
    transform: translateY(-50%);
    width: 50%;
    max-width: 100%;
    border-radius: 8px;
}

.New {
    font-size: 32px;
    color: black;
}

.video-class video {
    position: absolute;
    top: 46.5%;
    right: 16%;
    height: auto;
    z-index: 3;
    border-radius: 8px;
    max-width: 30%;
    object-fit: cover;
    transform: translateY(-50%);
    border: solid 5px black;
}

.NewPara
.getAndKeep {
    font-size: 15px;
    font-weight: 400;
    color: black;
    margin: 1em 0;
}

.form-container {
    display: flex;
}

.getStartedBegin,
.getStartedOneToONe1,
.email {
    color: orange;
    background-color: black;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0.4% 10%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    white-space: nowrap;
}

.email,
.emailBegin,
.emailOneToOne1 {
    padding: 2.8% 20%;
    border-radius: 3px;
}

@media screen and (max-width: 1098px) {


.container2 {
    float:none;
    display:block;
    width:100%;
    }

.NewPara,
.clientEngagement,
.getAndKeep {
    font-size: 12px;
    font-weight: 4200;
    color: black;
    margin: 1em 0;
}
.New {
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.mainInnerContent {
    grid-template-columns: 1fr;
    width: 100%;
    color: black;
    padding: 6.4%;
    border-radius: 8px;
    background-color: rgb(240, 238, 238);
}

.sunsetrun img  {
        width: 100%;
        position: relative;
        top: 0%;
        transform: translateY(0%);
        max-width: 100%;
    }

    .video-class video {
        max-width: 60%;
        right: 32.5%;
        margin-top: 40%;

    }
    
  
  }