.onlineTraining {
    position: absolute;
    width: 50%;
    height: 420px;
    top: 950px;
    bottom: 0px;
    right: 1px;
    border-radius: 14px;
    color: black;
    padding: 140px;
    border-radius: 8px;
}

.onlinePara {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: black;
}

.container2 {
    position: relative;
    margin-top: 140px; 
    color: black;    
}

.phonewatch img,
.trainFromHome img {
    width: 25%; 
    height: 250px;
    border-radius: 12px;
    margin-left: 12%;
    margin-top: 5%;
    z-index: 1;
}

.stats img {
    width: 15%; 
    height: 15%;
    border-radius: 12px;
    margin-left: 25%;
    margin-top: -5%;
}

.stats img {
    opacity: 0.8;
}


@media screen and (max-width: 1098px) {
    .sellOnline {
        font-size: 18px;
        font-weight: bold;
    }
    .onlineTraining {
        position: absolute;
        width: 50%;
        height: 420px;
        top: 950px;
        bottom: 0px;
        right: 1px;
        border-radius: 14px;
        color: black;
        padding: 0px;
        border-radius: 8px;
    }

.phonewatch img,
.trainFromHome img {
    width: 25%; 
    height: 150px;
    border-radius: 12px;
    margin-left: 12%;
    margin-top: 5%;
    z-index: 1;
}

}