.plans {
    height: 700px;
}

.plansText {
    color: black;
    font-size: 36px;
    font-weight: bold;
    margin-top: 200px;
    text-align: center;
}

.switchPlan {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 50px;
    margin-left: 45%;
  }
  
.switchPlan input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
.slider:before {
    position: absolute;
    content: "";
    height: 45px;
    width: 45px;
    left: 4px;
    bottom: 3px;
    background-color: orange;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .monthlyPricingPlan {
    position: absolute;
    margin-top: 27px;
    right: 100%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: black;
}

.yearlyPricingplan {
    position: absolute;
    margin-top: 27px;
    left: 175%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: black;

}
.subjectTo { 
    color: black;
    text-align: center;
    font-size: 12px;
}

.subsriptionsPricing {
    height: 1000px;
    display: inline-flex;
    margin: 90px;
}

.grandMaster,
.pro5Pricing,
.gettingGoing,
.freedom   {
    width: 300px;
    height:700px;
    background-color: rgb(233, 233, 233);
    border-radius: 18px;
    border-top: 25px solid orange;
}

.pro5Pricing,
.gettingGoing,
.freedom  {
    margin-right: 15px;
}

.startedPricing2,
.startedPricing3,
.startedPricing4 {
    margin-top: 100%;
    margin-left: 25%;
    background-color: orange;
    font-weight: bold;
}

.startedPricing1,
.startedPricing2,
.startedPricing3,
.startedPricing4 {
    margin-top: 5%;
    margin-left: 10%;
    background-color: orange;
    font-weight: bold;
    width: 80%;
}

.free {
    color: black;
    font-size: 34px;
    margin-left: 30px;
    margin-top: 15px;
}

.firstStep {
    text-align: left;
    margin-left: 30px;
    color: black;
    font-size: 14px;
    margin-bottom: 55px;
}

.free2 {
    color: black;
    font-size: 46px;
    margin-left: 30px;
    margin-top: 30px;
    font-weight: bold;
}

.growPlan {
    text-align: left;
    margin-left: 30px;
    margin-top: 15px;
    color: black;
    font-weight: bold;
}

.completeList {
    color: black;
    margin-top: 5px;
    font-size: 12px;
}

.thisList {
    margin-top: 3px;
}